/* footer.css */

.footer {
    background-color: #203a43;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer a {
    color: #00ffcc;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p:first-of-type {
    font-weight: bold;
}
